node_modules

*/**dist/**/*
!.gitkeep
!README.md
!package.json
!tsconfig.json

# macOS finder file
.DS_Store

# log files
log

# coverage test
coverage

# development environment's files
public/development
public/production

# custom environment's config files
application-*.yml

vendors/database/src/migrations_v2

.env.development
.env.production

resources/cache
isolate-*
0x-*

newrelic_agent.log